{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/qdsuper/css/style.css') }}">
{% endblock %}

{% block title %}Détail dossier{% endblock %}

{% block body %}
    {{ dump(dossier) }}
    <span class="rouge">Dossier</span> n° {{ id }}, {{ dossier.Titre }}
    <ul>
    {% for paragraphe in dossier.paragraphes %}
        <li>
            {% if paragraphe.image %}
                <img src="{{ paragraphe.image.url }}" alt="{{ paragraphe.image.nom }}"/>
            {% endif %}
            {{ paragraphe.titre }}
        </li>
    {% endfor %}
    </ul>
{% endblock %}