{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/qdsuper/css/style.css') }}">
{% endblock %}

{% block title %}Liste dossier{% endblock %}

{% block body %}
    {{ dump(liste) }}
    <ul>
    {% for dossier in liste %}
        <li>
            {{ dossier[0].titre}} ({{ dossier["nombre"] }}) <a href="{{ path("action.delete", {id: dossier[0].id}) }}">DELETE</a> <a href="{{ path("action.incremente", {id: dossier[0].id}) }}">INCREMENTE</a>
            <a href="{{ path("action.clone", {id: dossier[0].id}) }}">CLONE</a> <a href="{{ path("action.edit", {id: dossier[0].id}) }}">EDIT</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}